@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primario: white;
  --color-secundario: #006989;
  --color-terciario: #e88d67;
  --fuente-titulo: "Krona One", sans-serif;
  --fuente-principal: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--fuente-principal);
  color: var(--color-secundario);
  background-color: var(--color-primario);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  align-self: center;
  width: 75%;
}

/*NAVEGATION*/

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-primario);
  z-index: 1000;
}

.nav__links {
  display: flex;
  gap: 1em;
  height: 100%;
  align-items: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-terciario);
  color: var(--color-secundario);
  font-weight: bold;
  padding: 0.2rem;
  font-size: 1.3rem;
  transition: color 0.1s ease-in-out;
}

a :visited {
  color: var(--color-terciario);
}

a:hover {
  color: var(--color-terciario);
}

/*PAGE CONTENT*/
section {
  scroll-margin-top: 6em;
  width: 100%;
}

h1 {
  font-size: 2.5em;
}

h1,
h2,
h3 {
  font-family: var(--fuente-titulo);
}
h1,
h2 {
  color: var(--color-terciario);
}
h2,
h3 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

h3 {
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
}

.highlight {
  color: var(--color-secundario);
}

#introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 5em;
}

.introduction__profile-pic {
  width: 8em;
  align-self: center;
}

#introduction p {
  font-size: 1.5rem;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.tech_icon {
  height: 5rem;
  padding: 1rem;
  object-fit: cover;
}

.about-me__text {
  font-size: 1.5rem;
}

.skills__container,
.hobbies__container,
.education__container {
  display: flex;
  gap: 1em;
  width: 100%;
  color: var(--color-primario);
}

.skills__container,
.hobbies__container {
  flex-wrap: wrap;
}

.skills__item,
.hobbies__item {
  display: flex;
  gap: 1.5em;
  text-align: start;
  align-items: center;
  padding: 1.5em;
  background-color: var(--color-secundario);
  height: 90px;
  width: min-content;
}

.skills__item h3,
.hobbies__item h3 {
  margin: 0;
  padding: 0;
  text-wrap: wrap;
  font-size: 1rem;
}

.education__item {
  background-color: var(--color-secundario);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.education__item h3 {
  margin: 0;
}

.skills__item img,
.hobbies__item img,
.education__item img {
  width: 4rem;
}

/*PROJECTS*/
#projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects__project {
  position: relative;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.project__links{
  margin-left: auto;
  display: flex;
  gap: 1px;
}

.project__link {
  border-bottom: none;
  background-color: var(--color-secundario);
  padding: 0.5rem;
  color: var(--color-primario);
  height: min-content;
}

.project__img {
  width: 100%;
  margin-top: 1rem;
}

.rowcontainer .project__img {
  max-width: 25%;
}

.contact__container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 2em;
}

.contact__sender-details {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.contact__sender-details input {
  width: 50%;
}

input,
textarea {
  background-color: transparent;
  padding: 0.5em;
  border: none;
  border-bottom: 3px solid var(--color-secundario);
  font-family: var(--fuente-principal);
  font-size: 1.2em;
  color: var(--color-secundario);
  transition: border 0.1s ease-in-out;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--color-terciario);
}

.contact__button {
  border: none;
  padding: 1em;
  color: var(--color-primario);
  background-color: var(--color-terciario);
  font-family: var(--fuente-titulo);
  width: 45%;
  align-self: center;
  cursor: pointer;
  font-size: 1.3em;
}
.contact__button:disabled {
  cursor: default;
  background-color: var(--color-secundario);
}

#submenu {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  gap: 1em;
  padding: 0.2em;
  width: 100%;
  justify-content: end;
  background-color: var(--color-primario);
  padding: 0.5rem 2rem;
}

.submenu__up {
  text-align: center;
}

.language__container {
  display: flex;
  gap: 0.5em;
  align-items: end;
}

.lenguage__item {
  border: none;
  font-family: var(--fuente-principal);
  background-color: var(--color-secundario);
  color: var(--color-primario);
  padding: 0.3em;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}

.lenguage__item:hover {
  color: var(--color-terciario);
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem;
  margin-bottom: 2em;
}

@media (max-width: 920px) {
  nav {
    flex-direction: column;
    gap: 1.5em;
    height: auto;
  }
  section {
    scroll-margin-top: 10em;
  }
  .nav__links:nth-child(2) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills__item,
  .hobbies__item,
  .education__item {
    width: 48%;
  }

  .rowcontainer .project__img {
    max-width: 46%;
    flex-shrink: 1;
  }
  .rowcontainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

}

@media (max-width: 690px) {
  .nav__links:nth-child(2) {
    display: none;
  }
  main {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .skills__container,
  .hobbies__container,
  .education__container {
    flex-direction: column;
  }

  .skills__item,
  .hobbies__item,
  .education__item {
    width: 100%;
  }

  .project__detail {
    flex-direction: column;
  }
  .project__links{
    margin-left:0;
  }
  .project__link {
    margin-left: none;
    width: 50%;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .rowcontainer:nth-child(1) {
    flex-direction: column;
  }
  .projects__project {
    padding: 0;
  }

  main {
    width: 90%;
  }
  .project__link {
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #001a22;
    --color-secundario: #e3ebee;
    --color-terciario: #e88d67;
    --fuente-titulo: "Krona One", sans-serif;
    --fuente-principal: "Montserrat", sans-serif;
  }

  .introduction__profile-pic {
    background-color: var(--color-secundario);
    border-radius: 50%;
  }

  ::placeholder {
    color: var(--color-secundario);
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--color-secundario);
  }
  .techs {
    background-color: white;
  }
}
